.heading-base {
  margin: 0;
}

.h1-base {
  font-size: 2em;
}
.h2-base {
  font-size: 1.8em;
}
.h3-base {
  font-size: 1.5em;
}
.h4-base {
  font-size: 1.3em;
}
.h5-base {
  font-size: 1em;
}
.h6-base {
  font-size: 0.8em;
}
