@import '../../variables.scss';

$height: 60px;

.header {
  width: 100%;
  height: $height;
  background: $white;
}

.logo {
  display: inline-block;
  margin-right: 16px;
  margin-left: 12px;
  padding: 0 8px;
  height: $height;
  line-height: $height;
  box-sizing: border-box;
}
