.button-base {
  margin: 0;
  padding: 4px 8px;
  border: none;
  outline: none;
  text-align: center;

  &:active {
    border: 2px solid #393939;
  }
}

.button {
  composes: button-base;

  padding: 4px 8px;
  height: 20px;
  line-height: 20px;
}
